{% if site.info.twitter %}
<a href="https://twitter.com/{{ site.info.twitter }}" title="Follow on Twitter" target="_blank" class="social-link"><i class="fa fa-twitter"></i></i></a>
{% endif %}
{% if site.info.github %}
<a href="https://github.com/{{ site.info.github }}" title="Watch on Github" target="_blank" class="social-link"><i class="fa fa-github"></i></a>
{% endif %}
{% if site.info.facebook %}
<a href="http://facebook.com/{{ site.info.facebook }}" title="Like on Facebook" target="_blank" class="social-link"><i class="fa fa-facebook"></i></i></a>
{% endif %}
<a href="/atom.xml" title="RSS Feed" class="social-link">
    <i class="fa fa-rss"></i>
</a>
