<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
        <title></title>
        <script src="/assets/modernizr.custom.27049.js?body=1" type="text/javascript"></script>
        <link href="http://fonts.googleapis.com/css?family=Terminal+Dosis:400,200,300,500,700" media="screen" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,200,300,500,700&amp;subset=latin,latin-ext" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/normalize-rails/normalize.css?body=1" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/normalize-rails/index.css?body=1" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/bootstrap.min.css?body=1" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/style.responsive.css?body=1" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/pygments.css?body=1" media="screen" rel="stylesheet" type="text/css" />
        <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      </meta>
    </meta>
  </head>
  <body>
    <header class='mod-header inline side2side'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='logo span4'>
            <a href='/'>
              <h1>
                <img height='50' src='/assets/logo_main.png'>
                PLATANUS
              </h1>
            </a>
          </div>
        </div>
      </div>
    </header>
    <h3>test</h3>
    {{ content }}
    <footer class='mod-navigation visible-phone'>
      <ul class='container'>
        <!-- %li.mod-navigation-item -->
        <!-- %a{href: "#work"} OUR WORK -->
        <li class='mod-navigation-item'>
          <a href='#our-team'>OUR TEAM</a>
        </li>
        <li class='mod-navigation-item'>
          <a href='#contact'>CONTACT</a>
        </li>
      </ul>
    </footer>
    <footer class='mod-bottom side2side'></footer>
    <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery.iosslider.min.js?body=1" type="text/javascript"></script>
    <script src="/assets/underscore.js?body=1" type="text/javascript"></script>
    <script src="/assets/platanus.js?body=1" type="text/javascript"></script>
    <script src="/assets/application.js?body=1" type="text/javascript"></script>
    <script>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26580157-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; gaasync = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
